<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
		<mapping class="com.goodlife.model.Users" />
		<mapping class="com.goodlife.model.SuperAdmin" />
		<mapping class="com.goodlife.model.Instructor" />
		<mapping class="com.goodlife.model.Student" />
		
		<!--  <mapping class="com.goodlife.dao.UsersDAO" />
		<mapping class="com.goodlife.dao.SuperAdminDAO" />
		<mapping class="com.goodlife.dao.InstructorDAO" />
		<mapping class="com.goodlife.dao.StudentDAO" /> -->
    </session-factory>
</hibernate-configuration>