/* app css stylesheet */

/*
	Had to aligin everyhting
	to the new serach bar
*/
input.adminSearchText {
	float: left;
}
select.adminSearchText {
	float: left;
}
div.adminSearchText {
	float:left;
}
.submit-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.test input[type="radio"] {
  display:none;
}

.test input[type="radio"] + label {
  display:none;
  background: url(./img/5_knowledge.png);
}

/*h1,h2,h3,h4,h5,span.chapter {
	color: #B0B0B0;
}*/

.bookImage {
	background-color:black;
	color: #B0B0B0;
}

ul.navview {
	color: #0066FF;
}