<nav class="navbar bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" width="20" length="20" src="img/GLO_logo_white.png">
      </a>
  </div>
   <ul class="navlink nav navbar-nav">
   <li><a href="#/studentHome">Home</a></li>
   <li><a href="#/curriculum">Curriculum</a></li>
   <li><a href="">Search</a></li>
   
   
   </ul>
      <p class="navbar-text navbar-right"><a href="j_spring_security_logout" class="navlink">Logout</a></p>
  </div>
</nav>