<!-- Serach Page for Admin -->

<!-- Navbar for all admins
 --><nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" width="20" length="20" src="img/GLO_logo_grey.jpg">
      </a>
  </div>
      <p class="navbar-text navbar-right"><a ng-click="" class="navbar-link">Logout</a></p>
  </div>
</nav>
<!-- Accordion for searching users -->
<accordion>
	<accordion-group is-open="seachisOpen" style="overflow:visible">
		<accordion-heading>
			Search Bar 
			<div ng-show= "userData.length > 0" style="display:inline">
				(Results: {{userData.length}})
			</div>
		</accordion-heading>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-2">
					<input ng-model="search.name" type="text" class="adminSearchText form-control input-sm" placeholder="Search for...">
				</div>
				<div class="col-xs-2">
					<select ng-model="typeSelected" ng-options="opt as opt.label for opt in searchOptions" class="adminSearchText form-control input-sm"> </select>
				</div>
				<div class="col-xs-2">
					<div class="adminSearchText">
						<div
							multi-select
							input-model="roleOptions"
							button-label="name"
							item-label="name"
							tick-property="ticked">
						</div>
					</div>
				</div>
				<div class="col-xs-2">
					<button class="btn btn-primary btn-sm">Submit</button>
				</div>
			</div>
		</div>	
	</accordion-group>
</accordion>

<!-- Table to show intended results -->
<table ng-table="userTable" class="table">
	<tr ng-repeat="user in userData">
		<td data-title="'First Name'" sortable="'fname'">
			{{user.fname}}
		</td>
		<td data-title="'Last Name'" sortable="'lname'">
			{{user.lname}}
		</td>
		<td data-title="'User Name'" sortable="'uName'">
			{{user.uname}}
		</td>
		<td data-title="'E-mail'" sortable="'email'">
			{{user.email}}
		</td>
		<td data-title="'Role'" sortable="'role'">
			{{user.role}}
		</td>
		<td data-title="'Status'" sortable="'status'">
			{{user.status}}
		</td>
		<td data-title="'Action'">
			<button type="button" class="btn btn-success">A</button>
			<button type="button" class="btn btn-warning">S</button>
			<button type="button" class="btn btn-danger">D</button>
		</td>
	</tr>
</table>