<h2 class="chapter text-center">{{subchapter.subChapTitle}}</h2>
<h4 class="chapter text-center"><em>{{subchapter.subChapDescr}}</em></h4>

<div ng-repeat="form in subchapterForm">
	<h4><b>{{form.question}}</b></h4>
	<h4>{{form.helpText}}</h4>
	<form name="myForm">
		<textarea class="form-control" name="myText" rows="3" maxlength="255"
				  ng-maxlength="255" ng-model="form.userAnswer"></textarea>
		<p id="charCount">character count: {{myForm.myText.$viewValue.length}}</p>
		<div class="alert alert-danger alert-dismissible" role="alert" id="maxLen"
			ng-show="myForm.myText.$viewValue.length >=255">
			<strong>Max Length:&nbsp;</strong> Reached maximum 255 characters !
		</div>
    </form>
</div>
<button type="button" class="btn btn-primary" ng-click="submitPostShortAns()" >Submit </button>

<!-- Alert success/failure message -->
<div class="alert alert-success alert-dismissible" id="confirmation-success-s" role="alert"
	ng-show="successS">
	<strong>Success:&nbsp;</strong> Your answers were submitted.
</div>
<div class="alert alert-danger alert-dismissible" id="confirmation-fail-s" role="alert"
	ng-show="failureS">
	<strong>Failure:&nbsp;</strong> Error in submit.
</div>