<!-- <div class="nga-default nga-stagger nga-slide-right"> -->	

<h1 class="chapter text-center">{{subchapter.subChapTitle}}</h1>
<h2 class="chapter text-center"><em>{{subchapter.subChapDescr}}</em></h2>

<div class="container-fluid">
	<div class="row">
		<div class="nga-default nga-stagger nga-slide-right">
			<ol>
				<li ng-repeat="form in subchapterForm">
					<h4 class="chapter">{{form.quesText}}</h4>
					<h5 class="chapter"><em>{{form.helpText}}</em></h5>
					<form name="opForm">
						<div class="radio" ng-repeat="optionForm in form.options" ng-init="form.userAnswer">
							<label>
								<input class="test" type="radio" name="pageSet" ng-model="form.userAnswer" ng-value="{{optionForm.optionId}}" /><span class="chpater" ng-bind="optionForm.choiceText"></span>
							</label>
						</div>
					</form>
				</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<button type="button" class="btn btn-primary pull-left" ng-click="submitPostMultiChoice()" >Submit </button>
		</div>
	</div>
</div>
